{% extends 'todo/base.html' %}

{% block content %}

    <h1>Tasks: {{ user }}</h1>

    <form method="GET">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Submit</button>
    </form>

    <br>

    {% for task in tasks %}

    <div class="card">
        <div class="card-body">
          <!-- <p>Author: {{ task.author }}</p> -->
          <p><a href="{% url 'task-detail' task.id %}">{{ task.name }}</a></p>
        </div>
        <div>
            <p>Status - {{ task.status }}</p>
        </div>
        <div class="ml-auto">
            <a href="{% url 'task-delete' task.id %}">&#215;</a>
        </div>
    </div>

    {% endfor %}


{% endblock content %}

