{% extends 'todo/base.html' %}

{% block content %}
    
    <div class="task-heading">
        <a class="add-icon" href="{% url 'task-create' %}">&#43;</a>
        <h1 class="task-heading-text">Tasks: {{ user }}</h1>
        <form class="task-heading-text" method="GET">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Search</button>
        </form>
        <p class="task-heading-count">{{ count }} <p class="task-heading-text">incomplete task{{count|pluralize:"s"}}</p></p>
        
    </div>

    <br>

    <div class="tasks-container">
    {% for task in tasks %}

        <div class="task-wrapper">
            <div class=task-inside-wrapper>
                {% if task.status %}
                    <div class="task-complete-icon"></div>
                {% else %}    
                    <div class="task-incomplete-icon"></div>
                {% endif %}
                <a class="task-link" href="{% url 'task-detail' task.id %}">{{ task.name }}</a>
            </div>   

            <a class="mr-2 delete-icon" href="{% url 'task-delete' task.id %}">&#215;</a>
        </div>   

    {% endfor %}
    </div>

{% endblock content %}

