{% extends 'todo/base.html' %}

{% block content %}

    <h1>Task Detail</h1>
    <div class="tasks-container">
        <div class="task-wrapper">   
            <p>{{ task.name }}</p>
            {% if task.status %}
                    Status: <div class="task-complete-icon"></div>
                {% else %}    
                    Status: <div class="task-incomplete-icon"></div>
            {% endif %}
            <p>Description: {{ task.desc }}</p>
            <div>
                {% if task.author == user %}
                    <a class="btn btn-outline-info" href="{% url 'task-update' task.id %}">Update</a>
                    <a class="btn btn-danger" href="{% url 'task-delete' task.id %}">Delete</a>
                {% endif %}
            </div>
        </div>   
    </div>

{% endblock content %}

