{% extends 'todo/base.html' %}

{% block content %}

    <h1>Task Detail</h1>
    
    <div class="card">
        <div class="card-body">
            <p>Author: {{ task.author }}</p>
            <p>{{ task.name }}</p>
            <div class="ml-auto">
                <p>Status - {{ task.status }}</p>
            </div>
            <div>
                {% if object.author == user %}
                    <a class="btn btn-outline-info" href="{% url 'task-update' task.id %}">Update</a>
                    <a class="btn btn-danger" href="{% url 'task-delete' task.id %}">Delete</a>
                {% endif %}
            </div>
        </div>   
    </div>

{% endblock content %}

