{% extends 'todo/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <h1 class="task-heading-text">Task Page</h1>

        <form class="pb-3" method="POST">
            {% csrf_token %}

            <div class="white-text">
                {{ form|crispy }}
            </div>

            <div class="mt-2">
                <button class="btn btn-outline-info" type="submit">Submit</button>
                <a class="btn btn-outline-info" href="{% url 'todo-home' %}">Cancel</a>
            </div>
        </form>
  
{% endblock content %}