body{
    background-color: #00ef24;
    font-family: 'Sono', sans-serif;
}

.nav-bar{
    background-color: #220059;
    font-family: 'Sono', sans-serif;
}

.logo {
    margin: 2px;
} 

/* .nav-link-custom{
    color: black
} */

.main-div{
    margin-top: 80px;
    margin-bottom: 10px;
    max-width: 70%;
    background-color: #220059;
    /* background-color: #beef00; */
    border-radius: 1%;
}


.task-heading {
    padding-top: 15px;
}

.task-heading-text {
    display: flex;
    color: white;
}

.task-heading-count {
    display: flex;
    color: #00ef24;
}

.tasks-container {
    padding-top: 0px;
    padding-bottom: 15px;
}

.task-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    border-top: 1px solid rgb(226, 226, 226);
    max-height: 100px;
}

.task-inside-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
}

.task-link {
    color: black;
}

.task-link:hover{
    text-decoration: none;
    color: #00ef24;
}

.task-complete-icon {
    height: 20px;
    width: 20px;
    background-color: rgb(105, 192, 105);
    border-radius: 50%;
    margin-right: 10px;
    padding: 0;

}

.task-incomplete-icon {
    height: 20px;
    width: 20px;
    background-color: rgb(218, 218, 218);
    margin-right: 10px;
    border-radius: 50%;
}


.delete-icon {
    text-decoration: none;
    color: black;
    font-size: 100px;
}

.delete-icon:hover {
    text-decoration: none;
    color: red;
}


.add-icon {
    display: flex;
    float: right;
    height: auto;
    padding: 0px;
    margin-right: 30px;
    text-decoration: none;
    color: #00ef24;
    font-size: 100px;

}

.add-icon:hover {
    text-decoration: none;
    color: white;
}