body{
    background-color: white;
}

.task-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    border-top: 1px solid rgb(226, 226, 226);
}


.delete-icon {
    color: black;
    font-size: 100px;
}