body{
    background-color: white;
    font-family: 'Sono', sans-serif;
}

.nav-bar{
    background-color: lightgrey;
    font-family: 'Sono', sans-serif;
}

/* .nav-link-custom{
    color: black
} */

.main-div{
    margin-top: 80px;
    margin-bottom: 10px;
    max-width: 70%;
    background-color: #beef00;
    border-radius: 1%;
}


.task-heading {
    padding-top: 15px;
}

.tasks-container {
    padding-top: 0px;
    padding-bottom: 15px;
}

.task-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    border-top: 1px solid rgb(226, 226, 226);
    max-height: 150px;
}

.task-link {
    color: black;
}

.task-link:hover{
    text-decoration: none;
    color:#beef00;
}

.task-complete-icon {
    height: 20px;
    width: 20px;
    background-color: rgb(105, 192, 105);
    border-radius: 50%;
    margin: 0;
    padding: 0;

}

.task-incomplete-icon {
    height: 20px;
    width: 20px;
    background-color: rgb(218, 218, 218);
    border-radius: 50%;
}


.delete-icon {
    text-decoration: none;
    color: black;
    font-size: 100px;
}

.delete-icon:hover {
    text-decoration: none;
    color: red;
}


.add-icon {
    display: block;
    height: auto;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: black;
    font-size: 100px;

}

.add-icon:hover {
    text-decoration: none;
    color: red;
}