{% extends 'todo/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <h1 class="white-text">Profile Page</h1>

    <h1 class="white-text">{{ user.profile.image.url }}</h1>
    <img class="rounded-circle" src="{{ user.profile.image.url }}">

        <form method="POST">
            {% csrf_token %}

            <div class="white-text">
                {{ u_form|crispy }}
                {{ p_form|crispy }}
            </div>

            <div>
                <button class="btn btn-outline-info mb-3" type="submit">Update</button>
            </div>
        </form>
  
{% endblock content %}